<section>
  <img class src="<% @user.img_url %>" alt="">

  <h1> User Info:</h1>
  <h3>Name: <%= @user.first_name %> <%= @user.last_name %></h3>
  <h1>Contact Info:</h1>
  <h3>Phone: <%= @user.phone %></h3>
  <h3>E-Mail: <%= @user.email %></h3>
  <h3>Zip Code: <%= @user.zip_code %></h3>
  <!-- Implement Vue JS -->
</section>
